* { margin:0; padding:0; box-sizing:border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

pre {
  font-family: sans-serif;
}


#cells_wrapper {
  padding-bottom: 60px;
}


#cells {
  z-index: 2;
  background-color: #fff;
  position: relative;
  min-height: 100vh;
}


.cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 5vw;
  text-align: center;
  font-size: 2rem;
  line-height: 5vw;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.cell:not([disabled]):hover {
  background: #fafafa;
  cursor: pointer;
}

.cell[disabled] {
  border: none;
  cursor: default;
}

#loading {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 100vh;
  font-size: 4rem;
  color: #eee;
}

#controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f4f4f4;
  border-top: 1px solid #eee;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em; 
}

#searchq {
  -webkit-appearance: textfield;
  font-size: 1.4rem;
}

#blocks {
  font-size: 1.2rem;
}

#info {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  font-family: sans-serif;
  background: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 0 8px 20px rgba(0, 0, 20, 0.2);
  width: 300px;
  border-radius: 5px;
  padding: 0 1.5em 1em 1.5em;
}

#info_rune {
  margin: 10px 50px;
  padding: 20px 0.5em;
  font-size: 4rem;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  border-radius: 10px;
}

#info_rune:hover {
  background-color: #ddd;
}

#info_copied {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 1;
  font-size: 0.75rem;
  color: #aaa;
  transition: opacity 0.25s ease-in;
}

#info_copied.show {
  opacity: 1;
  transition: none;
}

#info_name {
  text-align: center;
  margin-bottom: 1em;
}

#info_hide {
  --size: 13px;
  position: absolute;
  top: 5px;
  left: 5px;
  height: var(--size);
  width: var(--size);
  line-height: 0;
  background: #ddd;
  border: 1px solid rgba(0,0,0, 0.025);
  color: rgba(0,0,0, 0.2);
  border-radius: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  text-align: center;
  box-shadow: inset 0 2px 1px rgba(0,0,20, 0.025);
  font-size: 13px;
}

#info_hide:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  padding: 5px;
  box-sizing: content-box;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#info_hide:hover {
  color: rgba(0,0,0, 0.5);
  background-color: #ccc;
}

#info_hide:active {
  background-color: #aaa;
}

#info_aux {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info table {
  font-size: 1rem;
  margin-bottom: -0.5em;
  font-family: monospace;
}

#info td {
  padding: 0.25em 0.33rem;
}

#info td:first-child {
  text-align: right;
  color: #777;
}

#info_hex {
  cursor: pointer;
  border-radius: 5px;
}

#info_hex:hover {
  background: #ddd;
}

#info.show {
  display: block;
}

